.accessibility-content {
    .centered-heading {
        text-align: center;
    }

    ol {
        margin-top: 20px;
        margin-bottom: 20px;
        &>li::marker {
            font-family: var(--font-dongle);
            font-size: 50px;
        }
    }
}