/*FORM TO ADD A NEW RECIPE*/
.add-recipe-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  &> h2 {
    margin-bottom: var(--padding-horizontal);
  }
  & form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 4px solid var(--c-text);
    padding: 20px;
    border-radius: 14px;


    & .form-group {
      display: flex;
      gap: 20px;

        .form-question {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
    }

    & .form-question {
      & input:not([type="file"]), textarea, select {
        color: var(--c-text);
        background-color: var(--c-bg);
        caret-color: var(--c-text);
        border: none;
        padding: 5px;
        font-size: 16px;
        
        &[type="radio"] {
          accent-color: var(--c-accent-secondary);
        }
        &[type="number"] {
          appearance: none;
          -moz-appearance: textfield;
          appearance: textfield;
        }
      }
      
      & textarea {
        font-family: none;
        line-height: normal;
      }

      & .duration-input {
        display: flex;
        gap: 5px
      }

      & .ingredient-group {
        display: flex;
        align-items: center;

        & input[type="number"] {
          max-width: 30px;
        }
      }

      & .new-field-button, .delete-field-button {
        border: none;
        font-size: 30px;
        line-height: 30px;
        width: 30px;
      } 

      .delete-field-button {
      margin-left: 10px;
      margin-top: -2px;
      }
        
      &#ingredients {
        display: flex;
        flex-direction: column;
        gap: 5px;
      }

      &> span {
        font-size: 20px;
      }

      & fieldset {
        padding: 0px;
      }
    }

    & .directions {
      &> div {
        display: flex;
        align-items: top;
        gap: 10px;

        span {
          background: var(--c-bg);
          width: 30px;
          height: 30px;
          border-radius: 30px;
          line-height: 33px;
          text-align: center;
        }
      }
    }
  }

}
