/*FORM TO ADD A NEW RECIPE*/
.add-recipe-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  &> h2 {
    margin-bottom: var(--padding-horizontal);
  }

  & form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 4px solid var(--c-text);
    padding: 20px;
    border-radius: 14px;


    & .form-group {
      display: flex;
      gap: 20px;

        .form-question {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
    }

    & .form-question {
      & input:not([type="file"]), textarea, select {
        color: var(--c-text);
        background-color: var(--c-bg);
        caret-color: var(--c-text);
        border: none;
        padding: 5px;
        font-size: 16px;
        
        &[type="radio"] {
          accent-color: var(--c-accent-secondary);
        }
        &[type="number"] {
          appearance: none;
          -moz-appearance: textfield;
          appearance: textfield;
        }
      }
      
      & textarea {
        font-family: none;
        line-height: normal;
      }

      & .duration-input {
        display: flex;
        gap: 5px
      }

      & .ingredient-group {
        display: flex;

        & input[type="number"] {
          max-width: 30px;
        }
      }

      & .new-field-button, .delete-field-button {
        border: none;
        border-radius: 10px;
        font-size: 30px;
        line-height: 28px;
        width: 30px;
        height: 30px;
      } 

      .new-field-button {
        padding-left: 9px;
        margin-left: 20px;
      }

      .delete-field-button {
        margin-left: 10px;
      }
        
      &#ingredients {
        display: flex;
        flex-direction: column;
        gap: 5px;

      }

      &> span {
        font-size: 20px;
      }

      & fieldset {
        padding: 0px;
      }
    }

    & .directions, .notes {
     
      &> div > div {
        display: flex;
        align-items: top;
        gap: 10px;

        span {
          background: var(--c-bg);
          width: 30px;
          height: 30px;
          border-radius: 30px;
          line-height: 33px;
          text-align: center;
        }

        .direction, .note {
          width: 100%;
          display: flex;
          margin-bottom: 10px;

          .form-group {
            flex: 10;
            display: flex;

            label {
              min-width: 125px;
            }

            textarea {
              width: 97%;
            }

            @media only screen and (max-width: 768px) {
              flex-direction: column;
              gap: 0px;
            }
          }

          @media only screen and (max-width: 768px) {
            margin-bottom: 0px;
            
            button {
              align-self: flex-start;
              margin-top: 30px;
            }
          }
        }
      }
    }

    .sources {
      
      &>div > div {
        display: flex;
        
        .source {
          margin-bottom: 10px;
          width: 100%;

          & input {
           width: calc((100% - 263px)/2); 
            
            &:first-of-type {
              margin-right: 20px;
            }
          }
        }
      }
    }
    input:invalid {
  box-shadow: 0 0 5px 1px red;
}
  }
}
