footer {
  background-color: var(--c-accent-secondary);
  color: #F2EEE5;
  position:relative;
  overflow: hidden;
  padding: 50px;

  &> #big-squiggle {
    position: absolute;
    left: -100px;
    top: -220px;
    rotate: -20deg;
    display: block;
    pointer-events: none;
    min-width: 2200px;

    &> path {
      opacity: 0.1;
      stroke: var(--c-bg);
      stroke-dasharray: 5557.063 5557.063;
      transition: stroke-dashoffset 4s ease-in-out;
    }
  }

  &> .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;

    @media only screen and (max-width: 1024px) {
      flex-direction: column;
      align-items: center;
    }

    &> .footer-restcontainer {
      display: flex;
      flex-direction: row;
      gap: 50px;
      
      @media only screen and (max-width: 768px) {
        flex-direction: column;
      }

      &> .footer-subcontainer {
        &.socials {
          width: 100px;
          p {
            line-height: 25px;
            font-size: 25px;
          }
        }

        &.footer-sitemap-container {
          height: 211px;
          &> nav > ul > li > a  {
            text-decoration: none;
            display: inline-block;
            color: #F2EEE5; 

            &:hover {
              opacity: 0.8;
              border-bottom: 2px solid #F2EEE5;
              margin-bottom: 9px;
            }
          }
        }

        &> .footer-header {
          font-size: 50px !important;
        }

        &> button {
          background-color: var(--c-bg-secondary);
        }
      }
    }

    
  }
  .footer-copyright {
      font-size: 20px;
      margin-top: 175px;
    }
}
