.home-content {
   .home-hanmi {
    text-align: center;

    h2 {
      display: inline;
      font-size: 100px;
    }

    span {
      margin-left: 20px;
    }

    .grid-wrapper{
      display: grid;
      gap: 10px;
      grid-auto-rows: minmax(20px, auto);
      grid-template-columns:minmax(20px, auto); 
      justify-content: center;

      .grid-one {
        grid-column: 1;
        grid-row: 1;
      }

      .grid-two {
        grid-column: 2;
        grid-row: 1;
      }

      .grid-three {
        grid-column: 3;
        grid-row: 1;
      }

      .grid-four {
        grid-column: 4;
        grid-row: 1;
      }

      .grid-five {
        grid-column: 5;
        grid-row: 1;
      }

      .grid-six {
        grid-column: 1;
        grid-row: 2;
      }

      .grid-seven {
        grid-column: 3;
        grid-row: 2;
      }

      .grid-eight {
        grid-column: 5;
        grid-row: 2;
      }
    }
    
    .hanmi-details {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 100px;
      margin-top: 50px;

      @media screen and (max-width: 765px) {
        flex-direction: column;
        gap: 50px;
        align-items: center;

      }

      .profile-container {
        .profile-text {
          max-width: 500px;
          font-weight: 300;
        }
      }
    } 
  }
  .banner-img {
    background-image: url("../../assets/img/placeholders/wow-authentic-home-pic.png");
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%; 
    position: relative;
    mask: var(--mask-scallop-top);
    margin-top: -40px;

    .food-icon {
      position: absolute;
      left: -200px;
      bottom: 50px;
      height: 40px;
      rotate: 20deg;
      stroke: red;

    }
  }
}
