.home-wrapper {
  .home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 100px;

    h2 {
      margin-bottom: 20px;
    }

    .image-plus-text {
      margin-bottom: var(--padding-horizontal);
      img {
        height: 400px;
        object-position: center center;
      }
    }

    .recipe-cards-wrapper {
      display: flex;
      gap: 50px;
      flex-wrap: wrap;
      justify-content: center;
    }

    .view-all-recipes-button {
      margin-top: 50px;
      height: 70px;
      width: 175px;
    }

    .view-all-recipes-button-wrapper {
      position: relative;
      display: flex;
      align-items: center;

      button {
        position: relative;
        z-index: 2;
      }

      .breeze-svg {
        position: absolute;
        height: 400px;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.05;
        z-index: 1;
        
        path {
          stroke-dasharray: 1331.764 1331.764;
          transition: stroke-dashoffset 1.5s ease;
        }
      }
    }
  }

  .banner-img {
    background-image: url("/home_pics/wow-authentic-home-pic.png");
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%; 
    position: relative;
    mask: var(--mask-scallop-top);
    margin-top: -40px;

    .food-icon {
      position: absolute;
      left: -200px;
      bottom: 50px;
      height: 40px;
      rotate: 20deg;
      stroke: red;
    }
  }
}
