header {
  text-align: center;
  padding: 30px;

  ul {
    padding-top: 15px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  a {
    text-decoration: none;
    color: var(--c-text);
    transition: opacity 0.1s;

    &:not(:has(h1)) {
      display: inline-block;
      height: 33px;
      line-height: 45px;
      font-weight: bold;
    }

    &:hover {
      opacity: .7;
      transition: opacity 0.1s;
        &:not(:has(h1)) {
        border-bottom: solid 2px var(--c-text);
      }
    }

    &> h1 {
      display:inline-block;
    }
  }

  .eyes {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-bottom: 20px;

    &> svg > path {
      stroke: var(--c-text);
      fill: var(--c-text);
    }
  }

  #wink {
    padding: 5px; 
  }

  .mouth {
    width: 90%; 
    max-width: 456pt;
    margin-top: -60px;
    pointer-events: none;
        
    &> path {
      stroke: var(--c-text);
      transition: stroke-dashoffset 1.5s ease-in-out;
      stroke-dasharray: 526.877 526.877;
      stroke-dashoffset: 526.877;

    }
  }

  .nav-top-right-fixed {
    position: absolute;
    top: 50px;
    right: 30px;
    @media (max-width: 576px) {
      right: 15px;
    }
    .nav-top-right-flex {
      display: flex;
      gap: 100px;
      justify-content: flex-end;
      align-items: center;
      .search-bar {
        margin-right: 60px;
        input {
          font-weight: bold;
          color: white;
        }
      }
    }
  }

  .hamburger {
    height: 25px;
    width: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 200;
    padding: 5px;

    @media screen and (min-width: 768px) {
      display: none;
    }

    &:hover {
      cursor: pointer;
      background-color: rgb(var(--c-text-rgb),0.3);
      border-radius: 8px;
    }

    &:not(.hide) {
      justify-content: space-between;

      .hamburger-line{
        transition: transform .3s linear;
        width: 28px;

        &:first-child {
          transform-origin: bottom left;
          transform: rotate(45deg);
        }

        &:nth-child(2) {
          visibility: hidden;
        }

        &:last-child {
          transform-origin:  top left;
          transform: rotate(-45deg);
        }
      }
    }

    .hamburger-line {
      height: 4px;
      width: 25px;
      background-color: var(--c-text);
      pointer-events:none;
      transition: transform .3s linear, visibility .01s .29s;
      border-radius: 4px;
    }
  }

  &:has(> .sticky-menu > .visible) {
    padding: 0px;
  }

  .sticky-menu {
    visibility: visible;

    @media only screen and (max-width: 768px) { 
      visibility: hidden;
    }

    &:not(:has(.visible)) {
      visibility: hidden;
    }

    .travelling-smile {
      position: fixed;
      bottom: 100vh; 
      visibility: hidden;
      left: 50px;
      z-index: 30;
      transition: bottom ease-in-out .3s, visibility .1s linear .3s;

      .mouth {
        stroke-dasharray: 526.877 526.877;
      }

      &:not(.visible) {
        &~ .sticky-part {
          position: fixed;
          top: 150px;
        }
        .mouth > path {
          stroke-dashoffset: 526.877;
        }
      }

      &.visible {
        bottom: calc(100vh - 150px);
        visibility: visible;
        transition: bottom ease-in-out .3s;

        .mouth > path {
          stroke-dashoffset: 0;
        }

        &~ .sticky-part {
          display: flex;
          position: fixed;
          top: -150px;
          width: 100vw;
          padding: 15px 50px 35px 200px;
          justify-content: space-between;
          align-items: center;
          box-sizing: border-box;
          z-index: 28;
          transform: translate(0px, 149px);
          transition: transform linear .3s .3s;
          background-color: rgb(var(--c-bg-rgb), 0.5);
          backdrop-filter: blur(13px);
          mask: var(--mask-scallop-bottom);

          ul {
            padding-top: 0px;
          }
        }
      }

      svg {
        opacity: 0.8;
        transition: opacity ease-in-out 1s;

        path {
          transition: fill 1s, stroke 1s, stroke-dashoffset 1.5s;
        }
      }

      a:hover {
          border: none;
      }

      .eyes {
        width: 100px;
        height: 75px;
        gap: 10px;
        justify-content: center;
        align-items: center;
        margin-bottom: -20px;

        svg {
          height: 100%;
          width: 30%;
          flex-shrink: 0;
        }
      }

      .mouth {
        pointer-events: all;
        width: 100px;
        height: 70px;
        margin-top: 20px;
        margin-bottom: -15px;
      }
    
      &.in-footer {
        bottom: 150px;
        transition: bottom ease-in-out .3s;

        &~ .sticky-part {
          transform: translate(0px, 0px);
          transition: transform linear .3s .3s;

        }

        svg {
          opacity: 1;
          transition: opacity ease-in-out 1s;
          stroke: green;
          
          path {
            stroke: #F2EEE5;
            transition: fill 1s, stroke 1s
          }

          &:not(.mouth) > path {
            fill: #F2EEE5;
          }
        }

        @media only screen and (max-width: 1024px) {
          left: calc(50vw - 50px);
          transition: left linear .3s , bottom linear .3s;
        }
      }
    }
  }
}




