.off-canvas-menu {
  box-sizing: border-box;
  background-color: rgb(var(--c-accent-secondary-rgb), 0.9); 
  backdrop-filter: blur(13px);
  position: fixed;
  top: 0;
  right:0;
  width: 380px;
  max-width: 100%;
  height: 100%;
  z-index: 99;
  padding: 45px 80px 30px 100px;
  transition: right .3s linear;
  -webkit-mask: var(--mask-scallop-left);
  mask: var(--mask-scallop-left);
  color: #F2EEE5 !important;
  @media (min-width: 768px) {
    display: none;
  }

  a {
    color: #F2EEE5;

    &:not(:has(h1)):hover {
      border-bottom: 1px solid #F2EEE5;
    }
  }

  &.hide {
    right: -100vw;
    visibility: hidden;
    transition: right .3s linear, visibility .01s .3s;
  }

  h1 {
   font-size: 70px; 
  }

  .search-bar {
    input {
      font-weight: bold;
      color: white;
      background-color: var(--c-accent-primary);
    }
  }

  .theme-toggle {
    display: inline-block;
    top: unset;
    left: 45%;

    .toggle-button {
      background: var(--c-text);
    }
  }
}
