.recipe-card {
  display: flex;
  align-items: center;
  flex-direction: column;

  &> .recipe-title-pic {
    display: flex;
    flex-direction: row;
    gap: 20px;

    &> .recipe-pic {
      align-self: flex-end;

      &> img {
        height: 100px;
        width: 100px;
        border-radius: 14px;
      }
    }
  }

  &> .card-section {
    background-color: var(--c-bg);
    width: 60%;
    padding: 20px;
    border-radius: 14px;
    margin-top: 20px;
    box-sizing: border-box;
  }

  &> .recipe-details {
    position: relative;

    &> .decorative-arches {
      position: absolute;

      &.top {
        transform: rotate(200deg);
      }

      &.bottom {
        transform: rotate(20deg);
      }

      &> path {
        stroke: var(--c-text);
      }
    }

    &> h3 {
      text-align: center;
    }

    &> .details-container {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }

    &> .details-clickables {
      display: flex;
      justify-content: center;
      gap: 20px;
      flex-wrap: wrap;
    }
  }

  &> .ingredients-directions {
    &> .ingredient-list{
      &>li {
        &> input[type="checkbox"] {
          margin-right: 8px;
          accent-color: var(--c-accent-secondary);
          height: 20px;
          width: 20px;

          &:checked {
            &+ label {
              text-decoration: underline;
              text-underline-offset: -15%;
              text-decoration-skip-ink: none;

            }
          }
        }
      }
    }
    &> .direction-list {
      list-style: inside decimal;
    }
  }

  &> .notes {
    background-color: var(--c-bg-secondary);
    border: dashed 10px var(--c-bg);
    border-radius: 0px;
    
    &> .direction-list {
      list-style: inside decimal;
    }
  }
}
