.recipes {
  text-align: center;
  &> .recipes-container {
    &> .recipe-box-tabs {
      padding-top: var(--padding-horizontal);
      text-align: left;

     &> .recipe-box-tab {
       border-bottom: 0px;
       border-radius: 8px;
       border-bottom-right-radius: 0px;
       border-bottom-left-radius: 0px;
       margin-right: 5px;
     }
   }

    &> .recipe-box {
    padding: 50px 20px 50px 20px;
    border: 3px solid var(--c-text);
    border-radius: 8px;
    border-top-left-radius: 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;

      & .recipe-card {
        width: 30%;
        min-width: 200px;
        max-width: 350px;

        & img {
          width: 100%;
          aspect-ratio: 1/1;
          object-fit: cover;
          object-position: center;
          border-radius: 14px;
        }

        & h3 {
          margin-top: 15px;
          word-break: break-word;
          line-height: 40px;
        }
      }
    } 
  }
}


.recipe-card {
  display: flex;
  align-items: center;
  flex-direction: column;

  &> .recipe-title-pic {
    display: flex;
    flex-direction: row;
    gap: 20px;

    &> .recipe-pic {
      align-self: flex-end;

      &> img {
        height: 100px;
        width: 100px;
        border-radius: 14px;
      }
    }
  }

  &> .card-section {
    background-color: var(--c-bg);
    width: 60%;
    padding: 20px;
    border-radius: 14px;
    margin-top: 20px;
    box-sizing: border-box;
  }

  &> .recipe-details {
    position: relative;

    &> .decorative-arches {
      position: absolute;

      &.top {
        transform: rotate(200deg);
        left: -20px;
        top: -20px;
      }

      &.bottom {
        transform: rotate(20deg);
        right: -20px;
        bottom: -20px;
      }

      &> path {
        stroke: var(--c-text);
      }

      :first-child {
        stroke-dasharray: 211.856 211.856;
        transition: stroke-dashoffset 1s ease-in-out;
      }

      :nth-child(2) {
        stroke-dasharray: 384.484 384.484;
        transition: stroke-dashoffset 1.5s ease-in-out;
      }
    }

    &> h3 {
      text-align: center;
    }

    &> .details-container {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }

    &> .details-clickables {
      display: flex;
      justify-content: center;
      gap: 20px;
      flex-wrap: wrap;
    }
  }

  &> .ingredients-directions {
    &> .ingredient-list{
      &>li {
        &> input[type="checkbox"] {
          margin-right: 8px;
          accent-color: var(--c-accent-secondary);
          height: 20px;
          width: 20px;

          &:checked {
            &+ label {
              text-decoration: underline;
              text-underline-offset: -15%;
              text-decoration-skip-ink: none;

            }
          }
        }
      }
    }
    &> .direction-list {
      list-style: inside decimal;
    }
  }

  &> .notes {
    background-color: var(--c-bg-secondary);
    border: dashed 10px var(--c-bg);
    border-radius: 0px;
    
    &> .direction-list {
      list-style: inside decimal;
    }
  }
}
