.recipe-card {
    width: 30%;
    min-width: 200px;
    max-width: 350px;

    a {
        text-decoration: none;
        color: var(--c-text);
        &:hover {
            text-decoration: underline;
        }
    }
    
    & img {
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
        object-position: center;
        border-radius: 14px;
    }

    & h3 {
        margin-top: 0px;
        word-break: break-word;
        line-height: 45px;
    }
}