.recipe-card {
    width: 30%;
    min-width: 230px;
    max-width: 350px;
    flex: 1;


    a {
        text-decoration: none;
        color: var(--c-text);
        &:hover {
            text-decoration: underline;
        }
    }
    
    & img {
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
        object-position: center;
        border-radius: 14px;

        &.loading-recipe-pic {
            opacity: 0;
        }
    }

    & h3 {
        margin-top: 0px;
        word-break: break-word;
        line-height: 45px;
    }
}

@keyframes pulse {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

.recipe-card-loading {
    animation: pulse 1.5s infinite;
    flex:1;
    width: 30%;
    min-width: 230px;
    max-width: 350px;

    .loading-image {
        width: 100%;
        border-radius: 14px;
        aspect-ratio: 16/9;
        background-color: var(--c-accent-secondary);
    }

    .loading-title {
        border-radius: 14px;
        width: 100%;
        height: 24px;
        margin-top: 12px;
        background-color: var(--c-accent-secondary);
    }
}

