.recipes {
  text-align: center;
  &> .recipes-container {
    &> .recipe-box-tabs {
      padding-top: var(--padding-horizontal);
      text-align: left;
      position: relative;

      &> .recipe-box-tab {
        border: 3px solid var(--c-text);
        border-bottom: none;
        border-radius: 8px 8px 0 0;
        margin-right: 5px;
        cursor: pointer;
        padding: 10px 15px;
        background-color: var(--c-bg);

        &.active {
          background-color: var(--c-text);
          color: var(--c-bg);
          padding-top: 15px;
          height: calc(100% + 5px);
        }

        &:hover:not(.active) {
          background-color: var(--c-bg-secondary);
        }
      }
    }

    &> .recipe-box {
      position: relative;
      z-index: 1;
      margin-top: -3px;
      padding: 50px 20px 50px 20px;
      border: 3px solid var(--c-text);
      border-radius: 8px;
      border-top-left-radius: 0px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 50px;
      background-color: var(--c-bg);

      & .recipe-card {
        width: 30%;
        min-width: 200px;
        max-width: 350px;

        a {
          text-decoration: none;
          color: var(--c-text);
          &:hover {
            text-decoration: underline;
          }
        }
        
        & img {
          width: 100%;
          aspect-ratio: 1/1;
          object-fit: cover;
          object-position: center;
          border-radius: 14px;
        }

        & h3 {
          margin-top: 0px;
          word-break: break-word;
          line-height: 45px;
        }
      }
    } 
  }
}


.recipe-detailed {
  display: flex;
  align-items: center;
  flex-direction: column;
  &> div {
    width: 70%;
    @media (max-width: 1200px) {
      width: 90%;
    }
  }

  &> .recipe-title-edit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .edit-buttons {
    button {
      background: none;
      border: none;
      cursor: pointer;
      padding: 5px;
      margin: 0 5px;
      height: 40px;
      img {
        filter: var(--c-text-filter);
      }
      &:hover {
        background-color: var(--c-bg);
        border-radius: 50%;
      }
      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }

  .recipe-pic {
    img {
      width: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 14px;
      max-height: 500px;
    }
  }

  &> .card-section {
    background-color: var(--c-bg);
    min-width: 320px;
    padding: 40px;
    border-radius: 14px;
    margin-top: 20px;
    box-sizing: border-box;
  }

  &> .recipe-details {
    position: relative;

    &> .decorative-arches {
      position: absolute;

      &.top {
        transform: rotate(200deg);
        left: -20px;
        top: -20px;
      }

      &.bottom {
        transform: rotate(20deg);
        right: -20px;
        bottom: -20px;
      }

      &> path {
        stroke: var(--c-text);
      }

      :first-child {
        stroke-dasharray: 211.856 211.856;
        transition: stroke-dashoffset 1s ease-in-out;
      }

      :nth-child(2) {
        stroke-dasharray: 384.484 384.484;
        transition: stroke-dashoffset 1.5s ease-in-out;
      }
    }

    &> h3 {
      text-align: center;
    }

    &> .details-container {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }

    &> .details-clickables {
      display: flex;
      justify-content: center;
      gap: 20px;
      flex-wrap: wrap;
    }
  }

  &> .ingredients-directions {
    ul {
      @media (min-width: 1024px) {
        columns: 2;
      }
    }
    &> .ingredient-list{
      .ingredient-editing-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
      }
      &>li {
        &> input[type="checkbox"] {
          margin-right: 8px;
          accent-color: var(--c-accent-secondary);
          height: 20px;
          width: 20px;

          &:checked {
            &+ label {
              text-decoration: underline;
              text-underline-offset: -15%;
              text-decoration-skip-ink: none;

            }
          }
        }
      }
    }
  }

  .custom-list {
    list-style: inside decimal;
    padding-left: 0px;
  }

  &> .notes {
    background-color: var(--c-bg-secondary);
    border: dashed 10px var(--c-bg);
    border-radius: 0px;
    &.hide {
      display: none;
    }
  }

  .sources {
    background-color: var(--c-bg-secondary);
    padding-top: 10px;
    ul {
      padding-left: 0px;
    }
    &.hide {
      display: none;
    }
  }
}

.recipe-detailed.editing {
  .recipe-title-edit {
    justify-content: space-around;
    margin-bottom: 30px;

    .recipe-title {

      input {
        margin-right: 10px;
        padding: 5px;
        font-size: 30px;
        border: none;
        background-color: var(--c-bg);
        color: var(--c-text);
      }
    }
  }

  .card-section {

    h3 {
      margin-bottom: 15px;
    }

    input, textarea {
      padding: 5px;
      margin-bottom: 10px;
      border: none;
      background-color: var(--c-bg-secondary);
      color: var(--c-text);
    }

    input {
      font-size: 16px;
    }

    textarea {
      font-size: 25px;
    }
  }

  .ingredients-directions {
    .ingredient-list {
      .ingredient-editing-container {
        margin-bottom: 15px;    

        @media (max-width: 1024px) {
          flex-direction: column;
          padding-bottom: 15px;
          margin-bottom: 15px;
        
          &:not(:last-child) {
            border-bottom: 1px dashed rgba(var(--c-text-rgb), 0.5);
          }
        }

        input {
          margin-bottom: 5px;
        }
      }
    }

    .custom-list {
      textarea {
        width: 100%;
      }
    }
  }

  .notes, .sources {
    display: block;

    textarea {
      width: 100%;
      background-color: var(--c-bg);
    }

    .source {
      input {
        background-color: var(--c-bg);
        margin-right: 10px;
      }
    }
  }
}
