.recipes {
  text-align: center;
  &> .recipes-container {
    &> .recipe-tabs-container {
      position: relative;
      display: flex;
      align-items: baseline;
      justify-content: space-between;

      .scroll-arrow {
        top: 60%;
        background-color: var(--c-bg);
        border: 2px solid var(--c-text);
        color: var(--c-text);
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer; 
        filter: blur(0.05px);

        &:hover {
          background-color: var(--c-bg-secondary);
        }
      }
    }

    & .recipe-box-tabs {
      padding-top: var(--padding-horizontal);
      text-align: left;
      position: relative;
      overflow-x: auto;
      scrollbar-width: none; /* Firefox */
      white-space: nowrap;
      width: 75%;
      -ms-overflow-style: none;  /* Internet Explorer 10+ */

      &::-webkit-scrollbar { 
        display: none;  /* WebKit */
      }

      &> .recipe-box-tab {
        border: 3px solid var(--c-text);
        border-bottom: none;
        border-radius: 8px 8px 0 0;
        margin-right: 5px;
        cursor: pointer;
        padding: 10px 15px;
        background-color: var(--c-bg);

        &.active {
          background-color: var(--c-text);
          color: var(--c-bg);
          padding-top: 15px;
        }

        &:hover:not(.active) {
          background-color: var(--c-bg-secondary);
        }
      }
    }
  }
}

.recipe-box {
  position: relative;
  margin-top: -3px;
  padding: 50px 20px 50px 20px;
  border: 3px solid var(--c-text);
  border-radius: 0px 0px 8px 8px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  background-color: var(--c-bg);
} 

.recipe-detailed {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;

  &> div {
    width: 70%;
    @media (max-width: 1200px) {
      width: 90%;
    }
  }

  & .recipe-title {
    text-align: center;
  }

  & .recipe-title-edit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .edit-buttons {
    button {
      background: none;
      border: none;
      cursor: pointer;
      padding: 5px;
      margin: 0 5px;
      height: 40px;
      img {
        filter: var(--c-text-filter);
      }
      &:hover {
        background-color: var(--c-bg);
        border-radius: 50%;
      }
      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }

  .recipe-pic {
    img {
      width: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 14px;
      max-height: 500px;
    }
  }

  &> .card-section {
    background-color: var(--c-bg);
    min-width: 320px;
    padding: 40px;
    border-radius: 14px;
    margin-top: 20px;
    box-sizing: border-box;
  }

  &> .recipe-details {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    &> .decorative-arches {
      position: absolute;

      &.top {
        transform: rotate(200deg);
        left: -20px;
        top: -20px;
      }

      &.bottom {
        transform: rotate(20deg);
        right: -20px;
        bottom: -20px;
      }

      &> path {
        stroke: var(--c-text);
      }

      :first-child {
        stroke-dasharray: 211.856 211.856;
        transition: stroke-dashoffset 1s ease-in-out;
      }

      :nth-child(2) {
        stroke-dasharray: 384.484 384.484;
        transition: stroke-dashoffset 1.5s ease-in-out;
      }
    }

    & h3 {
      text-align: center;
    }

    & .details-container {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      column-gap: 25px;
      text-align: center;
    }

    & .print-button {
      margin-top: 20px;

      button {
        display: flex;
        align-items: center;
        gap: 10px;

        span {
          line-height: 30px;
        }

        img {
          filter: var(--c-text-filter);
        }
      }
    }
  }

  & .ingredients-directions {
    ul {
      @media (min-width: 1024px) {
        columns: 2;
      }
    }
    & .ingredient-list{
      margin-bottom: 20px;

      .ingredient-editing-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
      }

      & li {
        & input[type="checkbox"] {
          margin-right: 8px;
          accent-color: var(--c-accent-secondary);
          height: 20px;
          width: 20px;

          &:checked {
            &+ label {
              text-decoration: underline;
              text-underline-offset: -25%;
              text-decoration-skip-ink: none;

            }
          }
        }
      }
    }

    .remixer-button-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
      gap: 10px;
      text-align: center;
    }
  }

  .custom-list {
    list-style: inside decimal;
    padding-left: 0px;
  }

  &> .notes {
    background-color: var(--c-bg-secondary);
    border: dashed 10px var(--c-bg);
    border-radius: 0px;
    &.hide {
      display: none;
    }
  }

  .sources {
    background-color: var(--c-bg-secondary);
    padding-top: 10px;
    ul {
      padding-left: 0px;
    }
    &.hide {
      display: none;
    }
  }
}

.recipe-detailed.editing {
  .recipe-title-edit {
    justify-content: space-around;
    margin-bottom: 30px;

    .recipe-title {

      input {
        margin-right: 10px;
        padding: 5px;
        font-size: 30px;
        border: none;
        background-color: var(--c-bg);
        color: var(--c-text);
      }
    }
  }

  .card-section {

    h3 {
      margin-bottom: 15px;
    }

    input, textarea {
      padding: 5px;
      margin-bottom: 10px;
      border: none;
      background-color: var(--c-bg-secondary);
      color: var(--c-text);
    }

    input {
      font-size: 16px;
    }

    textarea {
      font-size: 25px;
    }
  }

  .ingredients-directions {
    .ingredient-list {
      .ingredient-editing-container {
        margin-bottom: 15px;    

        @media (max-width: 1024px) {
          flex-direction: column;
          padding-bottom: 15px;
          margin-bottom: 15px;
        
          &:not(:last-child) {
            border-bottom: 1px dashed rgba(var(--c-text-rgb), 0.5);
          }
        }

        input {
          margin-bottom: 5px;
        }
      }
    }

    .custom-list {
      textarea {
        width: 100%;
      }
    }

    .remixer-button-container {
      display: none;
    }
  }

  .notes, .sources {
    display: block;

    textarea {
      width: 100%;
      background-color: var(--c-bg);
    }

    .source {
      input {
        background-color: var(--c-bg);
        margin-right: 10px;
      }
    }
  }
}

.ingredients-unit-toggle-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  
  @media (max-width: 768px) {
    flex-direction: column;
  }

  .unit-toggle {
    display: flex;
    line-height: 40px;
    align-items: center;

    button {
      border: 3px solid var(--c-text);
      background: var(--c-bg);
      color: var(--c-text);

      &.active {
        background: var(--c-text);
        color: var(--c-bg);
      }

      &:hover:not(.active) {
        background: var(--c-bg-secondary);
      }

      &:first-child {
        border-radius: 4px 0 0 4px;
      }

      &:last-child {
        border-radius: 0 4px 4px 0;
      }
    }
  }
}

@media print {
    /* Hide elements you don't want to print */
    .edit-buttons,
    .unit-toggle,
    .remixer-button-container,
    button, footer, header, .decorative-arches {
        display: none !important;
    }

    /* Ensure the recipe content spans the full page */
    .recipe-detailed {
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
    }
}
