@keyframes slideup {
  0% {
    opacity: 0;
    transform: translate(0, 20px);
  }
  25% {
    opacity: .25;
    transform: translate(0, 15px);
  }
  50% {
    opacity: .5;
    transform: translate(0, 10px);
  }
  75% {
    opacity: .75;
    transform: translate(0, 5px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideright {
  0% {
    opacity: 0;
    transform: translate(-50px, 0);
  }
  25% {
    opacity: .25;
    transform: translate(-35px, 0);
  }
  50% {
    opacity: .5;
    transform: translate(-20px, 0);
  }
  75% {
    opacity: .75;
    transform: translate(-5px, 0);
  }
  100% {
    opacity: 1;
  }
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.remixer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;  /* Add padding for smaller screens */

  .remixer {
    box-sizing: border-box;
    border: 8px solid var(--c-accent-secondary);
    border-radius: 40px;
    width: 70%;
    height: 85vh;
    display: flex;
    background-color: var(--c-bg);
    min-width: 320px;

    .remixer-sidebar {
      flex: 3;
      border-right: 4px solid var(--c-accent-secondary);
      padding: 25px 0px 25px 0px;
      transition: flex-grow .25s linear, opacity .15s linear .2s;
      opacity: 1;
      overflow: hidden;
      display: flex;
      flex-direction: column;

      > * {
        padding: 0px 25px 0px 25px;
        opacity: 1;
      }

      &.collapsed {
        flex-grow: 0;
        transition: flex-grow .25s linear;
        border: none;
        opacity: 0;
        > * {
          display: none;
        }
      }

      .saved-recipes-list {
        overflow-y: auto;
        padding-left: 0px;
        padding-right: 0px;
        height: calc(100% - 100px);

        li {
          padding: 0px 25px 0px 25px;

          &.current-recipe {
            background-color: rgba(255,255,255,0.3);
          }
          
          &:hover {
            background-color: rgba(255,255,255,0.3);
            cursor: pointer;
          }
        }
      }

      .close-sidebar-mobile {
        display: none;  /* Hidden by default */
        align-self: center;
        margin-top: 10px;

        &:hover {
          background-color: rgba(255,255,255,0.3);
        }
      }
    }


    .remixer-chatbox {
      flex: 5;
      padding: 25px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .remixer-display-container {
        min-height: 0;
        overflow: hidden;
        margin-bottom: 10px;
        flex: 1;

        .remixer-controls {
          max-width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 20px;
          padding: 5px;
          text-align: center;
          min-width: 280px;

          h3 {
            height: 1em;
            overflow-y: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 40px;
            margin-left: 5px;
            margin-right: 5px;
            width: auto;
            max-width: 100%;
            min-width:0;
            transition: max-width 0.25s linear;
          }

          .toggle-sidebar:not(.collapsed) ~ h3 {
            max-width: 400px;
            transition: max-width 0.25s linear;
          }

          button {
            border: none;
            font-size: 50px;
            line-height: 50px;
            max-width: 50px;
            flex: 1;

            &.toggle-sidebar.collapsed {
              rotate: 180deg;
            }

            &:hover {
              background-color: rgba(255,255,255,0.3);
            }
          }
        }

        .remixer-messages {
          overflow-y: auto;
          display: flex;
          flex-direction: column;
          padding: 0px 10px 0px 5px;
          max-height: calc(100% - 4.5em);

          &:focus-visible {
            background-color: var(--c-bg-secondary);
            outline: none;
          }

          .loading-symbol-bot {
            display: flex;
            justify-content: flex-start;
            padding: 10px;
            margin-bottom: 20px;

            .travelling-smile {
              width: 30px; 
              height: 30px;
              animation: rotate 2s linear infinite;

              .eyes {
                display: flex;
                height: 20px;
                color: var(--c-text);
              }
              
              /* Style the SVG elements inside the smile */
              svg {
                width: 100%;
                height: 100%;
                fill: var(--c-text);

                path {
                  stroke: var(--c-text);
                }

                fill {
                  fill: var(--c-text);
                }
              }

              /* Remove the link styling/behavior since it's just decorative here */
              a {
                text-decoration: none;
                cursor: default;
                pointer-events: none;
              }
            }
          }

          .remixer-message {
            display: block;
            border-radius: 8px;
            padding: 10px 10px 5px 10px;
            margin-bottom: 20px;
            max-width: 80%;
            width: auto;
            word-wrap: break-word;
            overflow-wrap: break-word;

            &.bot {
              border: 2px dashed var(--c-accent-secondary);
              margin-right: 30px;
              align-self: flex-start;

              customized_recipe {
                display: flex;
                flex-direction: column;
                gap: 10px;
                margin-top: 10px;
                margin-bottom: 10px;

                name {
                  font-weight: bold;
                }
              }

              ol,ul {
                list-style: revert;
              }

              &:last-child {
                .in-view {
                  .slide-in {
                    display: inline-block;
                    opacity: 0;
                    animation: slideup .5s;
                    animation-timing-function: linear;
                    animation-fill-mode: forwards;
                  }
                  .slide-over {
                    display: inline-block;
                    opacity: 0;
                    animation: slideright 1s .5s;
                    animation-timing-function: linear;
                    animation-fill-mode: forwards;
                  }
                }
              }
            }

            &.user {
              border: 2px solid var(--c-accent-secondary);
              float: right;
              margin-left: 30px;
              align-self: flex-end;
            }
          }
        }
      }

      .remixer-input {
        width: 95%;
        height: 2em;
        background-color: var(--c-bg-secondary); 
        border-radius: 14px;
        padding: 10px;
        display: flex;
        justify-content: space-between;

        textarea {
          background-color: inherit;
          border: none;
          height: 100%;
          width: 85%;
          resize: none;
          padding-left: 5px;
          color: var(--c-text);

          &:focus-visible {
            outline: none;
          }
        }

        .remixer-first-input-container {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          justify-content: space-between;
          gap: 20px;
          width: 90%;
          margin-bottom: 10px;

          .recipe-dropdown {
            position: relative;
            width: 100%;
            min-width: 200px;

            .recipe-dropdown-input-container {
              position: relative;
              display: flex;
              align-items: center;

              .recipe-dropdown-input {
                width: 100%;
                padding: 5px 30px 5px 8px;
                border: 2px solid var(--c-accent-secondary);
                border-radius: 8px;
                background-color: var(--c-bg);
                color: var(--c-text);
              }

              .recipe-dropdown-toggle {
                position: absolute;
                right: 8px;
                border: none;
                background: none;
                color: var(--c-text);
                cursor: pointer;
                padding: 4px 4px 0px 4px;
              }
            }

            .recipe-dropdown-list {
              position: absolute;
              z-index: 10;
              max-width: 200px;
              min-width: 200px;
              max-height: 240px;
              overflow-x: scroll;
              margin-top: 4px;
              background-color: var(--c-bg);
              border: 2px solid var(--c-accent-secondary);
              border-radius: 8px;
              box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
              padding-left: 0px;

              .recipe-dropdown-item {
                padding: 8px;
                cursor: pointer;

                &:hover {
                  background-color: var(--c-bg-secondary);
                }

                &:focus {
                  background-color: var(--c-bg-secondary);
                  outline: none;
                }
              }

              .recipe-dropdown-empty {
                padding: 8px;
                color: var(--c-text);
                font-style: italic;
              }
            }
          }
          
          .remixer-first-input {
            border: 2px solid var(--c-accent-secondary);
            border-radius: 8px;
          }

          /* TODO all scrollbars! Add these styles to style the scrollbar */
          .recipe-dropdown-list {
            &::-webkit-scrollbar {
              width: 8px;
            }
            &::-webkit-scrollbar-track {
              background: var(--c-bg);
              border-radius: 4px;
            }
            &::-webkit-scrollbar-thumb {
              background: var(--c-accent-secondary);
              border-radius: 4px;
            }
            &::-webkit-scrollbar-thumb:hover {
              background: var(--c-accent-primary);
            }
          }

          .recipe-dropdown-container {
            display: flex;
            gap: 10px;
          }

          textarea {
            width: 100%;
            border: 2px solid var(--c-accent-secondary);
            border-radius: 8px;
            background-color: var(--c-bg);
            padding-top: 5px;
            padding-bottom: 5px;
          }
        }

        button {
          float: right;
          border: none;
          padding-top: 5px;
        }
      }

      .remixer-warning {
        margin-top: 15px;
        font-size: 10pt;
      }
    }
  }

  /* Large tablets and smaller */
  @media (max-width: 1200px) {
    .remixer {
      width: 85%;
    }
  }

  @media (max-width: 1024px) {
    .remixer {
      width: 95%;
      height: 90vh;
      border-width: 6px;
      border-radius: 25px;

      .remixer-sidebar {
        padding: 15px 0;

        > * {
          padding: 0px 15px;
        }

        .saved-recipes-list li {
          padding: 0px 15px;
        }
      }

      .remixer-chatbox {
        padding: 15px;

        .remixer-display-container .remixer-controls {
          margin-bottom: 15px;

          .toggle-sidebar:not(.collapsed) ~ h3 {
            max-width: 30vw;
          }

          button {
            font-size: 40px;
            line-height: 40px;
            width: 40px;
          }
        }
      }
    }
  }

  /* overlay for tablets and mobile */
  @media (max-width: 768px) {
    .remixer {
      position: relative;  /* For overlay positioning */
      width: 100%;
      border-width: 4px;
      border-radius: 15px;

      /* Add overlay background when sidebar is open */
      &.sidebar-open::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: 1;
      }

      .remixer-sidebar {
        position: fixed;
        left: 50%;
        top: 50%;
        background: var(--c-bg);
        transform: translate(-50%, -50%);
        z-index: 2;
        height: 300px;
        width: 300px;
        border-radius: 15px;
        border: 4px solid var(--c-accent-secondary);
       
        &.collapsed {
          display: none;
        }

        .close-sidebar-mobile {
          display: block;  /* Show only on mobile */
        }
      }

      .remixer-chatbox {
        z-index: 0;  /* Keep chat below overlay */
        flex: 1;
        padding: 8px;

        .remixer-display-container .remixer-controls {
          min-width: 100px;
          padding: 2px;

          h3 {
            font-size: 40px;
            max-width: 50vw;
          }

          .toggle-sidebar:not(.collapsed) ~ h3 {
            max-width: 50vw;
          }

          button {
            font-size: 40px;
            line-height: 40px;
            max-width: 40px;
          }
        }

        .remixer-messages {
          padding: 0px 5px;
          
          .remixer-message {
            max-width: 95%;
            padding: 8px;
          }
        }

        .remixer-input {
          width: 92%;
          textarea {
            width: 80%;
          }

          &.remixer-input:has(.recipe-dropdown) {
            height: 5em;
          }

          .remixer-first-input-container {
            flex-direction: column;
            gap: 5px;
            justify-content: space-between;
            width: 80%;
            .remixer-first-input {
              min-height: 27px;
            }

            .recipe-dropdown {
              width: 100%;
              min-width: unset;

              .recipe-dropdown-list {
                min-width: unset;
                max-width: 100%;
              }
            }
          }
        }

        .remixer-warning {
          margin-top: 10px;
        }
      }
    }
  }

  @media (max-width: 375px) {
    padding: 10px;
    
    .remixer {
        border-width: 3px;
        border-radius: 10px;

        .remixer-sidebar {
          width: 90%;
          height: 250px;
        }

        .remixer-chatbox {
          .remixer-controls {
            h3 {
              font-size: 20px;
            }

            button {
              font-size: 24px;
              line-height: 24px;
              max-width: 24px;
            }
          }
        }
    }
  }
}

.remixer-page > section > h2 {
  text-align: center;
  margin-bottom: 25px;
}