/*COLOR VARIABLES */

@media (prefers-color-scheme: dark) {
  :root {
    /* daaark gray */
    --c-bg: #1C1B1B;
    /* daaark maroon */
    --c-bg-secondary: #331F29;
    /* creamy white */
    --c-text: #F2EEE5;
    /* light blue */
    --c-accent-primary: #C8D7DE;
    /* light purple */
    --c-accent-secondary: #8E5572;
    --c-accent-tertiary: #3E3C3C;
  }
}

@media (prefers-color-scheme:light) {
  :root {
    --c-bg: #F2EEE5;
    --c-bg-secondary: #C8D7DE;
    --c-text: #1C1B1B;
    --c-accent-primary: #8E5572;
    --c-accent-secondary: #35605A;
  }
}

:root.dark-mode {
  --c-bg: #1C1B1B;
  --c-bg-secondary: #331F29;
  --c-text: #F2EEE5;
  --c-accent-primary: #C8D7DE;
  --c-accent-secondary: #8E5572;
}

:root.light-mode {
  --c-bg: #F2EEE5;
  --c-bg-secondary: #C8D7DE;
  --c-text: #1C1B1B;
  --c-accent-primary: #8E5572;
  --c-accent-secondary: #35605A;

}

/*SITEWIDE STYLES*/

*:focus-visible {
    outline: 3px solid var(--c-accent-primary);
}

body {
  background-color: var(--c-bg);
  color: var(--c-text);
  font-size: 30px;
  color-scheme: light dark;
}

h1 {
  font-size: 100px;
}

h2 {
  font-size: 80px;
}

h3 {
  font-size: 60px;
}

textarea {
  font-family: var(--f-dongle);
  font-size: 25px;
  line-height: 20px;
}

nav > ul {
  padding-left: 0;
}

section {
  padding: 50px;
  background-color: var(--c-bg-secondary);
}

button {
  border: inset 3px var(--c-text);
  border-radius: 14px;
  background-color: var(--c-bg);
  padding: 3px 10px 0px 10px;
  color: var(--c-text);
  font-family: var(--font-dongle);
  font-size: 25px;
  cursor: pointer;
  pointer-events: auto;

  &:hover {
    opacity: .9;
  }

  &:disabled {
    opacity: .7;
    &:hover {
      cursor: not-allowed;
    }
  }
}

