:root {

/* FUN MASKS! */
  --mask-scallop-left:
    radial-gradient(59.17px at 81px 50%,#000 99%,#0000 101%) 0 calc(50% - 60px)/100% 120px,
    radial-gradient(59.17px at -51px 50%,#0000 99%,#000 101%) 30px 50%/100% 120px repeat-y;

  --mask-scallop-top:
    radial-gradient(59.17px at 50% 81px,#000 99%,#0000 101%) calc(50% - 60px) 0/120px 100%,
    radial-gradient(59.17px at 50% -51px,#0000 99%,#000 101%) 50% 30px/120px 100% repeat-x;

  --mask-scallop-bottom:
    /*radial-gradient(59.17px at 50% calc(100% - 81px),#000 99%,#0000 101%) calc(50% - 60px) 0/120px 100%,
    radial-gradient(59.17px at 50% calc(100% + 51px),#0000 99%,#000 101%) 50% calc (100% - 30px)/120px 100% repeat-x;
    */
    radial-gradient(59.17px at 50% calc(100% - 81px),#000 99%, #0000 101%) calc(50% - 60px) 0/120px 100%,
    radial-gradient(59.17px at 50% calc(100% + 51px),#0000 99%, #000 101%) 50% calc(100% - 30px)/120px 100% repeat-x;


/* padding :) */
  --padding-horizontal: 50px;
}

/*COLOR VARIABLES */
@media (prefers-color-scheme: dark) {
  :root {
    /* daaark gray */
    --c-bg: #1C1B1B;
    --c-bg-rgb: 28,27,27;
    /* daaark maroon */
    --c-bg-secondary: #331F29;
    /* creamy white */
    --c-text: #F2EEE5;
    --c-text-filter: invert(95%) sepia(11%) saturate(337%) hue-rotate(324deg) brightness(104%) contrast(90%);
    --c-text-rgb: 242, 238, 229;
    /* light blue */
    --c-accent-primary: #C8D7DE;
    /* dark gray */
    --c-accent-secondary: #3E3C3C;
    --c-accent-secondary-rgb: 62,60,60;
  }
}

@media (prefers-color-scheme:light) {
  :root {
    /* creamy white */
    --c-bg: #F2EEE5;
    --c-bg-rgb: 242, 238, 229;
    /* light blue */
    --c-bg-secondary: #C8D7DE;
    /* daaark gray */
    --c-text: #1C1B1B;
    /*for svgs imported through nextjs image component */
    --c-text-filter: invert(6%) sepia(4%) saturate(479%) hue-rotate(314deg) brightness(92%) contrast(89%);
    --c-text-rgb: 28,27,27;
    /* light gray */
    --c-accent-primary: #3E3C3C;
    /* dark teal */
    --c-accent-secondary: #35605A;
    --c-accent-secondary-rgb: 53,96,90;
  }
}

:root.dark-mode {
  --c-bg: #1C1B1B;
  --c-bg-rgb: 28,27,27;
  --c-bg-secondary: #331F29;
  --c-text: #F2EEE5;
  --c-text-filter: invert(95%) sepia(11%) saturate(337%) hue-rotate(324deg) brightness(104%) contrast(90%);
  --c-text-rgb: 242, 238, 229;
  --c-accent-primary: #C8D7DE;
  --c-accent-secondary: #3E3C3C;
  --c-accent-secondary-rgb: 62,60,60;
}

:root.light-mode {
  --c-bg: #F2EEE5;
  --c-bg-rgb: 242, 238, 229;
  --c-bg-secondary: #C8D7DE;
  --c-text: #1C1B1B;
  --c-text-filter: invert(6%) sepia(4%) saturate(479%) hue-rotate(314deg) brightness(92%) contrast(89%);
  --c-text-rgb: 28,27,27;
  --c-accent-primary: #3E3C3C;
  --c-accent-secondary: #35605A;
  --c-accent-secondary-rgb: 53,96,90;
}

/*SITEWIDE STYLES*/

*:focus-visible {
    outline: 3px solid var(--c-accent-primary);
}

body {
  background-color: var(--c-bg);
  color: var(--c-text);
  font-size: 18px;
}

h1 {
  font-size: 100px;
  line-height: 65px;
}

h2 {
  font-size: 80px;
  line-height: 60px;
}

h3 {
  font-size: 60px;
  line-height: 50px;
}

h4 {
  font-size: 40px;
  line-height: 30px;
}

nav > ul {
  padding-left: 0;
}

section {
  padding: 50px;
  background-color: var(--c-bg-secondary);
  @media (max-width: 500px) {
    padding: 20px;
  }
}

.narrow-section {
  width: 70%;

  @media (max-width: 1200px) {
    width: 90%;
  }

  @media (max-width: 320px) {
    width: 100%;
  }
}

button, input[type="file"]::file-selector-button  {
  border: inset 3px var(--c-text);
  border-radius: 14px;
  background-color: var(--c-bg);
  padding: 3px 10px 0px 10px;
  color: var(--c-text);
  font-family: var(--font-dongle);
  font-size: 25px;
  cursor: pointer;
  pointer-events: auto;

  &:hover {
    opacity: .9;
  }

  &:disabled {
    opacity: .7;
    &:hover {
      cursor: not-allowed;
    }
  }
}

.image-plus-text {
  display: flex;
  flex-direction: row;
  gap: 100px;

  @media (max-width: 1024px) {
    flex-direction: column;
    gap: 50px;
    align-items: center;
    img {
      width: 70%;
      min-width: 200px;
      min-height: 200px;
    }
  }

  p {
    white-space: pre-line;
  }

  img {
    border-radius: 14px;
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    /* set object-position and height in specific css file! */
  }
}

.loading-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 10px;
  background: transparent;
  z-index: 9999;
  background: linear-gradient(90deg, var(--c-accent-primary), var(--c-accent-secondary));
  transition: width 200ms ease-in-out;
}