@media (prefers-color-scheme: dark) {
  :root {
    --c-bg: #1C1B1B;
    --c-bg-secondary: #8E5572;
    --c-text: #F2EEE5;
    --c-accent-primary: #C8D7DE;
    --c-accent-secondary: #35605A;
  }
}

@media (prefers-color-scheme:light) {
  :root {
    --c-bg: #F2EEE5;
    --c-bg-secondary: #C8D7DE;
    --c-text: #1C1B1B;
    --c-accent-primary: #8E5572;
    --c-accent-secondary: #35605A;
  }
}

:root.dark-mode {
  --c-bg: #1C1B1B;
  --c-bg-secondary: #8E5572;
  --c-text: #F2EEE5;
  --c-accent-primary: #C8D7DE;
  --c-accent-secondary: #35605A;
}

:root.light-mode {
  --c-bg: #F2EEE5;
  --c-bg-secondary: #C8D7DE;
  --c-text: #1C1B1B;
  --c-accent-primary: #8E5572;
  --c-accent-secondary: #35605A;

}

*:focus-visible {
    outline: 3px solid var(--c-accent-primary);
}

body {
  background-color: var(--c-bg);
  color: var(--c-text);
  font-size: 30px;
  color-scheme: light dark;
}

h1 {
  font-size: 100px;
}

h2 {
  font-size: 80px;
}

h3 {
  font-size: 60px;
}

section {
  padding: 50px;
  background-color: var(--c-bg-secondary);
}
