.custom-toggle {
  position: absolute;
  display: inline-block;
  width: 56px;
  height: 31px;
  top: 50px;
  left: 30px;

  &> input {
    opacity: 0;
    width: 0;
    height:0;
  }

  &> .toggle-button {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--c-accent-primary);
    -webkit-transition: .4s;
    transition: .4s;

    &:before {
      position: absolute;
      content: "";
      height: 24px;
      width: 24px;
      left: 4px;
      bottom: 4px;
      background-color: var(--c-bg);
      -webkit-transition: .4s;
      transition: .4s;
    }

    &> .toggle-icon {
      position: absolute;
      top: 5px;
      right: 31px;
      width: 20px;
      height: 20px;
      pointer-events: none;
      -webkit-transition: .4s;
      transition: .4s;

      &> path, circle {
        stroke: var(--c-text);
        fill: var(--c-text);
      }
    }
  }

  &> input:checked {
    &+ .toggle-button:before {
      -webkit-transform: translateX(24px);
      -ms-transform: translateX(24px);
      transform: translateX(24px);
    }

    &+ .toggle-button {
      &> .toggle-icon {
        -webkit-transform: translateX(24px);
        -ms-transform: translateX(24px);
        transform: translateX(24px);
      }

      &> .toggle-sun {
        visibility:hidden;
        opacity: 0;
      }

      &> .toggle-moon {
        opacity: 1;
        -webkit-transition: opacity 1s ease-in;
        -moz-transition: opacity 1s ease-in;
        -ms-transition: opacity 1s ease-in;
        -o-transition: opacity 1s ease-in;
        transition: opacity 1s ease-in;
      }
    }
  }

  &> input:not(:checked) + .toggle-button {
    &> .toggle-moon {
      visibility:hidden;
      opacity: 0;
    } 

    &> .toggle-sun {
      opacity: 1;
      -webkit-transition: opacity 1s ease-in;
      -moz-transition: opacity 1s ease-in;
      -ms-transition: opacity 1s ease-in;
      -o-transition: opacity 1s ease-in;
      transition: opacity 1s ease-in;    
    }
  }
}
