#main-content:focus-visible {
    outline:none;    
}

.skip-to-content {
    position: absolute;
    left: -90px;
    top: 20px;
    opacity: 0;
    width: 1px;

    &:focus-visible {
        left: 10px;
        width: auto;
        height: auto;
        opacity: 1;
        transition: opacity 1s, left 0.2s;
    }
}